#create_posts {
    background-color: var(--backgroundDefaulte);
}

#create_posts_box {
    display: block;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
}

#box_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input_file {
    display: none;
}

#icon_upload {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
}


#post_title {
    display: block;
    width: 100%;
    max-width: 250px;
    margin-left: 20px;
    background-color: var(--backgroundDefaulte);
    border-radius: 4px;
    padding: 7px;
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
}

#post_title:focus {
    outline: none;
}

#textarea_post {
    display: block;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 4px;
    overflow: auto;
    resize: none;
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--backgroundDefaulte);
}

#textarea_post:focus {
    outline: none;
}


#button_create {
    display: block;
    width: 35%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--backgroundDefaulte);
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
    font-family: var(--fontFamilyDefault_Medium);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


#button_create:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--backgroundHover);
}

#button_create:focus {
    background-color: var(--backgroundHover);
    transition: 0.5s ease-in-out;
}


#categories_select {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: var(--backgroundDefaulte);
    border-radius: 7px;
    padding: 5px;
    font-family: var(--fontFamilyDefault_Light);
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
}