#categories {
    background-color: var(--backgroundDefaulte);
}

#categories_posts {
    display: block;
    align-items: center;
    list-style: none;
    padding: 0;
}

#categories_posts>li {
    width: 90%;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#categories_posts>li:hover {
    box-shadow: #00000073 0px 20px 20px -20px;
}

#categories_posts>li>img {
    display: block;
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}

#categories_posts>li>h2 {
    font-size: 14px;
    text-align: center;
}

.topic_info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.topic_info>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic_info>li>p {
    margin-left: 10px;
    font-size: 11px;
    font-family: var(--fontFamilyDefault_Light);
}

.topic_info>li>img {
    width: 15px;
}

#more {
    display: none;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 7px;
    background-color: var(--white);
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
    font-family: var(--fontFamilyDefault_Medium);
    font-size: 15px;
    box-shadow: #11111a0d 0px 1px 0px, #11111a1a 0px 0px 8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#more:hover {
    width: 220px;
    padding: 10px;
    transition: 0.5s ease-in-out;
}