#categories {
    background-color: var(--backgroundDefaulte);
}

#categories_box {
    /* display: none; */
    display: block;
    align-items: center;
    padding: 0px;
    list-style: none;
}

#categories_box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: var(--borderColorGrey);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.category_name {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.category_description {
    font-size: 12px;
    margin-left: 20px;
    font-family: var(--fontFamilyDefault_Light);
    color: var(--fontColorGrey);
    margin-top: 4px;
    margin-bottom: 0px;
}

.topics_all_time {
    /* width: 90px; */
    text-align: center;
    color: var(--fontColorGrey);
}